<!DOCTYPE html>
<html lang="en">
    {{template "header" .}}
    <body>
        {{template "navbar"}}
        <h1 id="center">{{.H1}}</h1>
        <div class="container">
            <ul style="margin-left: 0; padding-left: 0">
                {{ range $k, $v := .Sources}}
                <h4><a href="{{$v}}">{{$k}}</a></h4>
                <br>
                <!--<li><a href="{{$v}}">{{$k}}</a></li>-->
                <div class="container">
                    <iframe src="{{$v}}" loading="lazy" height="auto" width="100%"></iframe>
                </div>
                {{end}}
            </ul>
        </div>
    </body>
</html>